body{
    height: 100%;
    width: 100%;

    margin: 0;
}

.wrapper{
    height: 300vh;
    width: 100% inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 2fr 3fr 3fr 3fr 6fr 9fr;
    grid-template-areas: 
    "TOP TOP"
    "SUPERMARKET SUPERMARKET"
    "SALE SALE"
    "M-AIR CELEB-AIR"
    "CITY-AIR ÖBO-AIR"
    "FACT1 FACT1"
    "massiv massiv"
    "footer footer";
}
 
.TOP{
    height: 70px;
    width: 100%;
    grid-area: TOP;
    padding: 5px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    background-color: lightblue; 
    position: fixed;
    top: 0;  
}

a{
    text-decoration: none;
    color: black; 
}

.shopping_cart:hover{
    color: hotpink;
}

.menU:hover{
    color: hotpink;
}

.MENU{
    position: fixed;
    width: 230px;
    height: 100vh;
    background-color: royalblue;
    top: 0;
    left: 0;
    z-index: 10;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "TITLE TITLE"
    "PRODUCTS NEWEST"
    "GAH FOOTWEAR"
    "ror MUSIC"
    "POPULAR TECH"
    "FOOD MAGAZINE"
    "EDITORIAL WORLDWIDE";
    box-shadow: 50px 40px 124px -22px rgba(0,0,0,0.8)
}

.TITLE-MENU{
    grid-area: TITLE;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
    margin-top: 60px;
}

.PRODUCTS-MENU{
    grid-area: PRODUCTS;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GAH-MENU{
    grid-area: GAH;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ror-MENU{
    grid-area: ror;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NEWEST-MENU{
    grid-area: NEWEST;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FOOTWEAR-MENU{
    grid-area: FOOTWEAR;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MUSIC-MENU{
    grid-area: MUSIC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.POPULAR-MENU{
    grid-area: POPULAR;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FOOD-MENU{
    grid-area: FOOD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EDITORIAL-MENU{
    grid-area: EDITORIAL;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TECH-MENU{
    grid-area: TECH;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MAGAZINE-MENU{
    grid-area: MAGAZINE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WORLDWIDE-MENU{
    grid-area: WORLDWIDE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.erk{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 3px; 
}

.menununa{
    display: none;
}

.TOP i{
    width: 50px;
    font-size: 40px;
}

.SUPERMARKET{
    grid-area: SUPERMARKET; 
}

.heavenly_air_img{
    width: 375px;
    height: 556px;
    background-image: url(../img/prayingmanwithflask.jpg); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
    background-color: lightskyblue;
}
.SALE{
    grid-area: SALE;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: SALE;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.M-AIR{
    grid-area: M-AIR;
    background-image: url(../img/M_Air_Mobile.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border: 5px lightskyblue solid; 
}

.CELEB-AIR{
    grid-area: CELEB-AIR;
    background-image: url(../img/Tömmy.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: aliceblue;
    border: 5px lightskyblue solid; 
}

.CITY-AIR{
    grid-area: CITY-AIR;
    background-image: url(../img/Beijing_smog_Mobile.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border: 5px lightskyblue solid; 
}

.ÖBO-AIR{
    grid-area: ÖBO-AIR;
    background-image: url(../img/ÖBO-Air-Mobile.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: aliceblue;
    border: 5px lightskyblue solid; 
}

.FACT1{
    grid-area: FACT1;
    background-image: url(../img/CloudFacts1_Mobile.jpg);
    border: 5px lightskyblue solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
    "DYK DYK"
    "SF SF";
}

.TEXT_DIDYOUKNOW{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: DYK;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.STRAIGHTFACT{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: SF;
    display: flex;
    /* justify-content: center; */
    padding-left: 70px;
}

.köpluft1{
    grid-area: köpluft1;
    /* background-image: url(../img/mcböttle-normal_Mobile.png); */
    /* background-color: red; */
    /* border-right: 5px lightskyblue solid;
    border-top: 5px lightskyblue solid;
    border-left: 5px lightskyblue solid; */
}

.köpluft2{
    grid-area: köpluft2;
    /* background-image: url(../img/mcböttle-orangeblue_Mobile.jpg); */
    /* background-color: grey; */
}

.redolv{
    background-color: black;
    padding: 2px;
}

.barluft1{
    grid-area: barluft1;
    display: flex;
    padding-top: 10px;
    /* align-items: center; */
    justify-content: center;
    color: white;
    font-size: 10px;
    /* background-color: red; */
    /* border-right: 5px lightskyblue solid;
    border-bottom: 5px lightskyblue solid;
    border-left: 5px lightskyblue solid; */
}

.resolv{
    background-color: black;
    padding: 2px;
}

.barluft2{
    grid-area: barluft2;
    display: flex;
    padding-top: 10px;
    /* align-items: center; */
    justify-content: center;
    color: white;
    font-size: 10px;
}

.köpluft3{
    grid-area: köpluft3;
    /* background-image: url(../img/mcböttle-orangeyellow_Mobile.jpg) */
    /* background-color: wheat; */
}

.köpluft4{
    grid-area: köpluft4;
    /* background-color: yellowgreen; */
}

.redolf{
    background-color: black;
    padding: 2px;
}

.barluft3{
    grid-area: barluft3;
    display: flex;
    padding-top: 10px;
    /* align-items: center; */
    justify-content: center;
    color: white;
    font-size: 10px;
}

.regolf{
    background-color: black;
    padding: 2px;
}

.barluft4{
    grid-area: barluft4;
    display: flex;
    padding-top: 10px; 
    /* align-items: center; */
    justify-content: center;
    color: white;
    font-size: 10px;
}

.footer{
    grid-area: footer;
    background-color: lightcyan;
    border: 5px lightskyblue solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "VISIT"
    "OPENING";
    font-size: 12px;
}

.VISIT{
    grid-area: VISIT;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.VISIT_SHOP{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.VISIT ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.OPENING{
    grid-area: OPENING;
    height: 100%;
    width: 100%;
}

.HOURS{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.OPENING ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.massiv{
    grid-area: massiv;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-template-areas:
    "köpluft1 köpluft2"
    "barluft1 barluft2"
    "köpluft3 köpluft4"
    "barluft3 barluft4";
    background-image: url(../img/fin_sky.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes SALE{
    
    0%{
        color: black;
    }
    100%{
        color: lightskyblue;
    }
}

/*---------------------------- MOBILE --------------------------- */
/*----------------- SHOPPING_CART.HTML CSS CODE ------------------*/

.wrapper_shopping{
    height: 100vh;
    width: 100vw;
    background-color: royalblue;
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    grid-template-rows: 70px 1fr 4fr 2fr;
    grid-template-areas:
    "header header header"
    "true true true"
    "AIR-ITEM AIR-ITEM AIR-ITEM"
    "footer footer footer";
}

header{
    /* width: 100vw;
    height: 70px; */
    grid-area: header;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: lightskyblue;  
}

.öl{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.öl:hover{
    color: hotpink;
}

.text-shopping{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.true{
    grid-area: true;
}

.fake{
    grid-area: fake;
}
.AIR-ITEM{
    grid-area: AIR-ITEM;
    overflow: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AIR-ITEM1{
    height: 200px;
    width: 60vw;
    background-color: white;
    margin-left: 20vw;
    border: 5px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.AIR-ITEM1-text-air{
    height: 30px;
    width: 100%;
    margin-left: 20vw;
}

.AIR-ITEM2-text-air{
    height: 30px;
    width: 100%;
    margin-left: 20vw;
}

.AIR-ITEM3-text-air{
    height: 30px;
    width: 100%;
    margin-left: 20vw;
}

.AIR-ITEM2{
    height: 200px;
    width: 60vw;
    background-color: white;
    margin-left: 20vw;
    margin-top: 50px;
    border: 5px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.AIR-ITEM3{
    height: 200px;
    width: 60vw;
    background-color: white;
    margin-left: 20vw;
    margin-top: 50px;
    border: 5px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer{
    grid-area: footer;
    background-color: lightskyblue;
    border: 5px black solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-text{
    margin-top: 40px;
    margin-left: 20px;
}

.footer-text2{
    margin-top: 40px;
    margin-left: 20px;
}

/*-------------------------MOBILE-------------------------*/
/*----------------- NORMAL.HTML CSS CODE -----------------*/

.wrapper-normal{
    width: 100vw;
    height: 160vh;
    background-color: green;
    display: grid;
    grid-template-rows: 70px 350px 300px 1fr 79.4117647vh;
    grid-template-areas: 
    "TOP-normal"
    "AIR-IMAGE"
    "content"
    "filler"
    "footer-normal";
}

.TOP-normal{
    grid-area: TOP-normal;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
}

.normal-home{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.normal-home:hover{
    color: hotpink;
}

.TITLE-normal{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.AIR-IMAGE{
    grid-area: AIR-IMAGE;
    background-image: url(../img/AIR-IMG.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    grid-area: content;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-normal{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.kostnad-normal{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.artikelnummer{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
}

.boxes-normal{
    width: 100%;
    height: 100px;
    margin-top: 80px; 
}

.size-normal{
    width: 80%;
    height: 40%;
    background-color: lightskyblue;
    margin-left: 35px;
    margin-bottom: 60px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buy-normal{
    width: 80%;
    height: 40%;
    background-color: greenyellow;
    margin-left: 35px;
    margin-top: -55px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.filler{
    grid-area: filler;
}

.footer-normal{
    grid-area: footer-normal;
    background-color: lightcyan;
    border: 5px lightskyblue solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "VISIT"
    "OPENING";
    font-size: 12px;
}

.VISIT-normal{
    grid-area: VISIT;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.VISIT_SHOP-normal{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.VISIT-normal ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.OPENING-normal{
    grid-area: OPENING;
    height: 100%;
    width: 100%;
}

.HOURS-normal{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.OPENING-normal ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

/*-------------------------MOBILE-------------------------*/
/*----------------- ORANGEYELLOW.HTML CSS CODE -----------------*/

.wrapper-orangeyellow{
    width: 100vw;
    height: 160vh;
    background-color: green;
    display: grid;
    grid-template-rows: 70px 350px 300px 1fr 79.4117647vh;
    grid-template-areas: 
    "TOP-orangeyellow"
    "AIR-IMAGE"
    "content"
    "filler"
    "footer-orangeyellow";
}

.TOP-orangeyellow{
    grid-area: TOP-orangeyellow;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
}

.orangeyellow-home{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.orangeyellow-home:hover{
    color: hotpink;
}

.TITLE-orangeyellow{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.AIR-IMAGE{
    grid-area: AIR-IMAGE;
    background-image: url(../img/AIR-IMG.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    grid-area: content;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-orangeyellow{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.kostnad-orangeyellow{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.artikelnummer{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
}

.boxes-orangeyellow{
    width: 100%;
    height: 100px;
    margin-top: 80px; 
}

.size-orangeyellow{
    width: 80%;
    height: 40%;
    background-color: lightskyblue;
    margin-left: 35px;
    margin-bottom: 60px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buy-orangeyellow{
    width: 80%;
    height: 40%;
    background-color: greenyellow;
    margin-left: 35px;
    margin-top: -55px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.filler{
    grid-area: filler;
}

.footer-orangeyellow{
    grid-area: footer-orangeyellow;
    background-color: lightcyan;
    border: 5px lightskyblue solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "VISIT"
    "OPENING";
    font-size: 12px;
}

.VISIT-orangeyellow{
    grid-area: VISIT;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.VISIT_SHOP-orangeyellow{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.VISIT-orangeyellow ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.OPENING-orangeyellow{
    grid-area: OPENING;
    height: 100%;
    width: 100%;
}

.HOURS-orangeyellow{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.OPENING-orangeyellow ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

/*-------------------------MOBILE-------------------------*/
/*----------------- BLUEWAV.HTML CSS CODE -----------------*/

.wrapper-bluewav{
    width: 100vw;
    height: 160vh;
    background-color: green;
    display: grid;
    grid-template-rows: 70px 350px 300px 1fr 79.4117647vh;
    grid-template-areas: 
    "TOP-bluewav"
    "AIR-IMAGE"
    "content"
    "filler"
    "footer-bluewav";
}

.TOP-bluewav{
    grid-area: TOP-bluewav;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
}

.bluewav-home{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.bluewav-home:hover{
    color: hotpink;
}

.TITLE-bluewav{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.AIR-IMAGE{
    grid-area: AIR-IMAGE;
    background-image: url(../img/AIR-IMG.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    grid-area: content;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-bluewav{
    width: 350px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.kostnad-bluewav{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.artikelnummer{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
}

.boxes-bluewav{
    width: 100%;
    height: 100px;
    margin-top: 80px; 
}

.size-bluewav{
    width: 80%;
    height: 40%;
    background-color: lightskyblue;
    margin-left: 35px;
    margin-bottom: 60px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buy-bluewav{
    width: 80%;
    height: 40%;
    background-color: greenyellow;
    margin-left: 35px;
    margin-top: -55px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.filler{
    grid-area: filler;
}

.footer-bluewav{
    grid-area: footer-bluewav;
    background-color: lightcyan;
    border: 5px lightskyblue solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "VISIT"
    "OPENING";
    font-size: 12px;
}

.VISIT-bluewav{
    grid-area: VISIT;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.VISIT_SHOP-bluewav{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.VISIT-bluewav ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.OPENING-bluewav{
    grid-area: OPENING;
    height: 100%;
    width: 100%;
}

.HOURS-bluewav{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.OPENING-bluewav ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

/*-------------------------MOBILE-------------------------*/
/*----------------- ORANGEBLUE.HTML CSS CODE -----------------*/

.wrapper-orangeblue{
    width: 100vw;
    height: 160vh;
    background-color: green;
    display: grid;
    grid-template-rows: 70px 350px 300px 1fr 79.4117647vh;
    grid-template-areas: 
    "TOP-orangeblue"
    "AIR-IMAGE"
    "content"
    "filler"
    "footer-orangeblue";
}

.TOP-orangeblue{
    grid-area: TOP-orangeblue;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
}

.orangeblue-home{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.orangeblue-home:hover{
    color: hotpink;
}

.TITLE-orangeblue{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.AIR-IMAGE{
    grid-area: AIR-IMAGE;
    background-image: url(../img/AIR-IMG.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    grid-area: content;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-orangeblue{
    width: 350px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.kostnad-orangeblue{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.artikelnummer{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
}

.boxes-orangeblue{
    width: 100%;
    height: 100px;
    margin-top: 80px; 
}

.size-orangeblue{
    width: 80%;
    height: 40%;
    background-color: lightskyblue;
    margin-left: 35px;
    margin-bottom: 60px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buy-orangeblue{
    width: 80%;
    height: 40%;
    background-color: greenyellow;
    margin-left: 35px;
    margin-top: -55px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.filler{
    grid-area: filler;
}

.footer-orangeblue{
    grid-area: footer-orangeblue;
    background-color: lightcyan;
    border: 5px lightskyblue solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "VISIT"
    "OPENING";
    font-size: 12px;
}

.VISIT-orangeblue{
    grid-area: VISIT;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.VISIT_SHOP-orangeblue{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.VISIT-orangeblue ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.OPENING-orangeblue{
    grid-area: OPENING;
    height: 100%;
    width: 100%;
}

.HOURS-orangeblue{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.OPENING-orangeblue ul{
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
}


/*-------------------DESKTOP--------------------- */

@media only screen and (min-device-width:770px){
    
}